<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/protected">Profile</a></li>
  </ul>
</nav>
